.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fotosantojos.appspot.com/o/artista%2Feminem.jpg?alt=media&token=a76da498-a879-47ca-9b1c-ac211ba70d8f');
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 30% 20%;
}