.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fotosantojos.appspot.com/o/artista%2Fzpu-1505300330.-1x1780.jpg?alt=media&token=19b87314-09e2-4751-8dad-f1d86cd04267');
    background-position: cover;
    padding: 5% 20% 40% 20%; 
}